.title{
  text-align: center;
}

.mapImage {
  /* position: absolute;
  margin-left: 19%; */
  /* display: none */
  display: flex;
}

/* .mapImage div{
  margin-left: 20%;
} */

.mapImage .country {
  position: absolute;
  left: 9px;
}

.mapImage img {
  width: 600px;
  /* position: absolute; */
  position: relative;
  left: 0;
}

.mainMap img {
  position: relative;
  left: 0;
  width: 600px;
}


/* .mapButtonsContainer{
    width: 400px;
    height: 400px;
}
.mapButtons{
    width: 100%;
}

.buttonsCountry{
    position: relative;
    top: -80%;
    left: 11%;
} */
