.mapImage{
    position: absolute;
    /* display: none */
}

.country{ 
position: absolute;
}

img{
    width: 600px;
    /* position: absolute; */
    position: relative;
    left: 0;
}


.mainMap img{
    position: relative;
    left: 0;
    width: 600px;
}